<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        <nav>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('guestbooks_list') }}">List your guestbooks</a>
                <a href="{{ path('guestbooks_create') }}">New guestbook</a>
                <a href="{{ path('connect_logout') }}">Log out</a>
            {% else %}
                <a href="{{ path('connect_github') }}">Log in with GitHub</a>
            {% endif %}
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
