{% extends 'base.html.twig' %}

{% block title %}Create an Entry{% endblock %}

{% block body %}
<h1>Create an entry</h1>

{{ form_start(form) }}
    {{ form_errors(form.content) }}

    <div class="input-field">
        {{ form_widget(form.content, { 'attr': { 'class': 'materialize-textarea' } }) }}
        {{ form_label(form.content) }}
    </div>

    <p>
        {{ form_row(form.captcha) }}
    </p>

    {{ form_row(form.submit, { 'attr': { 'class': 'btn waves-effect waves-light' } })}}
{{ form_end(form) }}
{% endblock %}
