{% extends 'base.html.twig' %}

{% block title %}Guestbook entries{% endblock %}

{% block body %}
<h1>{{ guestbook.name }} entries</h1>
<h2>Total entries: {{ guestbook.entries | length }}</h2>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% if guestbook.owner == app.user %}
        <a>Edit this guestbook</a>
    {% else %}
        <a href="{{ path('entries_create', { guestbook: guestbook.id }) }}">
            Add an entry!
        </a>
    {% endif %}
{% endif %}

<ul>
    {% for entry in guestbook.entries %}
        <li>{{ entry.content }} ~ {{ entry.author }}</li>
    {% else %}
        <li>No entries</li>
    {% endfor %}
</ul>
{% endblock %}